h2{
    background-color: blueviolet;
    letter-spacing: ch;
}

h3{
    background-color:bisque;
    letter-spacing: 0ch;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: black; */

    border-top: 2px dotted orange;
    border-right: 4px dashed green;
    border-bottom: 2px dotted orange;
    border-left: 2px dotted black;


    border-bottom-left-radius: 2px;
    border-top-right-radius: 20px;
    text-align: center;


    padding:50px;
    margin-top: 10px;
    margin-right: 500px;

}


body{
    background-color:rgb(38, 161, 56);
}

